<%provide(:title,"Home")%>
<%=render "layouts/header"%>
<div class="home">
  <h2>Conahndは</h2>
  <h1>ゲーマーとゲーマーと繋げる新しいSNS</h1>
</div>
<div class="home-image">
  <h1 >ゲームを通じて新しい出会い、発見、感動を。</h1>
  <%= image_tag "gahag-0031608558.jpg",class:"ps-image" %>
</div>
<%= render "layouts/footer" %>
