<footer>
<ul>
  <li>
    <%= link_to "Conhandについて", root_path %>
  </li>

  <li>
    <%= link_to "利用規約",rule_path %>
  </li>

  <li>
    <%= link_to "開発者SNS", "#" %>
  </li>
</ul>
<p class="Copylight">©Kenichi Noshian</p>


</footer>
